*{
    margin:0;
    padding:0;
}
body{
    overflow-x: hidden;
   
   font-family: 'Oswald', sans-serif;
  
}




#img1{
    /* border-radius:55%; */
    width: 25%;
    box-shadow:  0 0 5px white, 0 0 10px white, 0 0 15px white;
    
    
}
.sticky-container{
 
    height: 100vh;
    background: linear-gradient(112deg, #FFFFFF 50%, #999966 50%);
    


}


#name{
   
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0, 0.4); 
        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        position: relative;
        top: 15%;
        left: 10%;
        /* transform: translate(-50%, -50%);
        z-index: 2; */
        width: 80%;
        padding: 20px;
        text-align: center;
   
}



#img2{
    width:400px;
    height:500px;
}
#animation{
    position: relative;
    animation: img2 5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
@keyframes img2 {
    0%   {background: transparent; down: 0px; top: 0px;}
    
    25%  {background: transparent; up: 300px; top: 100px;}
    
    100% {background:transparent; down: 0px; top: 0px;}
  }

  

 
 

 

 #calcimg{
    height: 325px;
 }
#m-img{
    height:300px;
    width:110px;
}
    
.description{
    /* top: 90%; */
    position: relative;
    right: 30%;
    text-align: center;
    padding-right: 50px;
}
.container-form{
    position:relative;
    left: 20%;
}

/* #About{
    background-color:#CCFFE5;
} */
.container-body{
    background-color:#e3eaa7;
}
#Contact{
    background-color: #999966;
    margin-top:200px;
  /* padding-top: 100px; */
}

 
  
  .skill-header {
    /* margin-bottom: 1rem; */
    margin-top:50px;
    padding-top:60px;

  }
  
   .skills-wrapper img {
    padding: 1.25rem;
    margin-top:20px ;
  } 
  
  .icon {
    width: 11.875rem;
    height: 11.25rem;
    margin-top:10%;
  }

  

  #Testimonials{
   margin-top:10%;
    position:relative;
    padding-top:60px;
  }

  #Projects{
    margin-top:12%;
  
  }

  .footer{
    margin-top:7%;
    position:relative;
  }

  .card:hover{
    transform: scale(1.1);
  }

  .card{
    box-shadow: 0 0 10px white, 0 0 15px grey;
    border-radius: 50px;
   margin-top:50px;
  }

  .project-heading{
    font-size: 50px;
    
  }
#skills-descr{
  box-shadow: none;
}
  .name{
    padding-left:100px;
  }
  #resume-card{
    box-shadow: none;
    border-radius: 0%;

  }
  
  #project-calcu{
  width:20rem;
    
  }

  #mobi-project{
    width:20rem;
    height:24rem;
  }
  #commerce-project{
    width:20rem;
    height:24rem;
  }
  #netflix-project{
    width:20rem;
    height:24rem;
  }
  #keyboard-project{
    width:20rem;
    height:24rem;
  }

  #keyproject{
    padding-top:80px;
  }

  #projectsection{
    justify-content:center ;
    padding-left: 25px;
  }

  @media all and (max-width:300px){
    body{
      overflow-x:hidden;
      position: relative;
      
    }

    #name{
      font-size: smaller;
      padding:10px;
      margin-bottom:35px;
    }

    #img1{
      width:60%;
      
    }

    #img{
      width:25%;
    }

    .name{
     padding-left: 1%;
    }

    .description{
      padding-left:23%;
    }

    #Contact{
      width:150%;
      
    }
    #email{
      font-size: smaller;
      
    }
    


  }